<div class="container">
    <div class="row">
        <!-- Cabecera de Vuelos -->
        <h1>{{ title }}</h1>
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- Mostrar un mensaje si no hay vuelos -->
                    <div *ngIf="vuelosArray.length === 0 && ciudadOrigen && ciudadDestino">
                        <p>No se encontraron vuelos para las ciudades seleccionadas: 
                            {{ ciudadOrigen }} a {{ ciudadDestino }} desde {{ fechaIda }} hasta {{ fechaVuelta }}.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Detalle de Vuelos -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aerolinea</th>
                                <th scope="col">Fecha Ida</th>
                                <th scope="col">Fecha Regreso</th>
                                <th scope="col">Ciudad Origen</th>
                                <th scope="col">Ciudad Destino</th>
                                <th scope="col">Acción</th> <!-- Botón Elegir -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vuelo of vuelosArray | paginate: {itemsPerPage:10, currentPage:page}; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{vuelo.aerolinea}}</td>
                                <td>{{vuelo.fechaHoraIda | date: 'yyyy-MM-dd HH:mm'}}</td> <!-- Formato de fecha y hora -->
                                <td>{{vuelo.fechaHoraRegreso | date: 'yyyy-MM-dd HH:mm'}}</td> <!-- Formato de fecha y hora -->
                                <td>{{vuelo.ciudadOrigen.nombre}}</td>
                                <td>{{vuelo.ciudadDestino.nombre}}</td>
                                <td>
                                    <!-- Botón Elegir vuelo -->
                                    <button class="btn btn-primary" (click)="elegirVuelo()">Elegir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
