<div class="home-container">
    <section class="hero">
      <div class="hero-content">
        <h1>Descubre la Magia del Perú</h1>
        <p>
          Explora los destinos más increíbles y vive experiencias inolvidables. 
          ¡Tu aventura comienza aquí!
        </p>
        <button class="cta-button" (click)="onBuscar()">Ver Paquetes</button>
      </div>
    </section>
  
    <section class="destinations">
      <h2>Destinos Destacados</h2>
      <div class="gallery">
        <div class="gallery-item">
          <img src="https://www.regionlalibertad.gob.pe/noticias/images/stories/BOLETIN/06-de-agosto---la-libertad-lidera-turismp.jpeg" alt="Trujillo">
          <div class="info">
            <h3>Trujillo</h3>
            <p>La ciudad de la eterna primavera.</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="https://www.aatccusco.com/images/slider/vinicunca-mochilero.jpg" alt="Cuzco">
          <div class="info">
            <h3>Cuzco</h3>
            <p>La capital histórica del Perú.</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="https://blogskystorage.s3.amazonaws.com/2022/04/playas-de-piura.jpeg" alt="Piura">
          <div class="info">
            <h3>Piura</h3>
            <p>Playas paradisíacas y calor todo el año.</p>
          </div>
        </div>
      </div>
    </section>
  </div>