<div class="container">
    <div class="row">
        <!--Alojamiento cabecera-->
        <h1>{{ title }}</h1>
        <div class="card">
            <div class="card-body">
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <!--Alojamiento detalle-->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">precio</th>
                                <th scope="col">cancelable</th>
                                <th scope="col">modificable</th>
                                <th scope="col">noches</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let alojamiento of alojamientosArray | paginate: {itemsPerPage:10, currentPage:page}; 
                            let i = index">
                                <td>{{i+1}}</td>
                                <td>{{alojamiento.precio}}</td>
                                <td>{{alojamiento.cancelable}}</td>
                                <td>{{alojamiento.modificable}}</td>
                                <td>{{alojamiento.noches}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente">

                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>